@import url(https://fonts.googleapis.com/css?family=Rye|Arbutus);

html,body{height:100%;overflow:hidden;margin:0;padding:0;}
body{background-color:#222;color:#222;}

a{color:#D16838;text-decoration:none;-webkit-transition:0.15s color ease;-moz-transition:0.15s color ease;-ms-transition:0.15s color ease;
    -o-transition:0.15s color ease;transition:0.15s color ease;}
a:hover{color:#D6AD2B;}
#western{color:#D6AD2B;pointer-events:none;}

.intro{position:absolute;display:block;width:45%;top:30%;left:27.5%;max-height:20%;fill:#DFC612;stroke:#DFC612;
    -webkit-animation:fadein 2s;animation:fadein 0.1s 6s 2s;-moz-animation:fadein 2s;-ms-animation:fadein 2s;}
#circle{position:absolute;margin-top:10%;left:46.5%;width:7%;}

.meny{display:none;overflow:auto;background:#333;font-family:'Rye';color:#eee;}
.meny h2{font-size:20px;margin:7vh 0vh 2vh 0vh;}
.meny ul li{display:inline-block;width:200px;list-style:none;font-size:18px;padding:3px 10px;}
.meny ul li:before{content:'-';margin-right:5px;color:rgba( 255,255,255,0.2 );}

.pt-wrapper{background:url('../images/western.jpg');}
.pt-page-1 {background:#D16838;overflow:hidden;}

/*No Animation Support Message*/
.pt-message{display:none;position:absolute;z-index:99999;bottom:0;left:0;width:100%;background:#da475c;color:#fff;text-align:center;}
.pt-message p{margin:0;line-height:60px;font-size:26px;}
.no-cssanimations .pt-message{display:block;}

.card{background:#A35842;width:22em;height:35em;margin:auto;margin-top:8vh;position:relative;border:0.1em solid #FC7E03;
	overflow:hidden;border-radius:0.2em;-moz-box-shadow:0em 0em 1em 0em #3d3d3d;box-shadow:0em 0em 1em 0em #3d3d3d;}

.tophalf{display:block;background:url('../images/small_western.jpg') no-repeat;background-size:contain;height:16.5em;}

#mypic{position:absolute;left:6.75em;top:12.3em;background:url('../images/me.jpg') no-repeat;background-size:cover;width:8em;
	height:8em;border-radius:100%;border:0.2em solid #A35842;cursor:pointer;box-shadow:0em 0em 0.5em 0.2em rgba(0,0,0,0.3);}
#mypic:after{content:'';position:absolute;left:0;right:0;top:0;bottom:0;border-radius:100%;background:rgba(255,61,0,0.1);}

.bottomhalf{width:94%;height:17.3em;margin:2% 3%;background:#F0D1A8;border:0.1em solid #FC7E03;border-radius:0.2em;
	-moz-box-shadow:0em 0em 0.5em 0.2em rgba(0,0,0,0.3);box-shadow:0em 0em 0.5em 0.2em rgba(0,0,0,0.3);}

.name{color:#0959AF;font-size:1.4em;text-align:center;line-height:1.65;border-top:0.05em solid #A87070;text-shadow:0em 0em 0.8em #B88787;
	border-bottom:0.05em solid #A87070;font-family:'Rye';font-weight:400;margin:3em auto;margin-bottom:1.3em;width:90%;}

.message{font-size:.78em;font-family:'Arbutus';text-align:center;line-height:0.65;color:#6B4747;text-shadow:0em 0em 0.8em #C9AEAE;
	letter-spacing:-0.06em;}

.messagecard{background:rgba(240,209,168,0.53);font-family:"Rye";color:#0959AF;font-size:1em;text-shadow:0em 0em 0.8em #B88787;width:22em;
	height:35em;margin:auto;margin-top:8vh;border:0.1em solid #FC7E03;border-radius:0.2em;
	-moz-box-shadow:0em 0em 1em 0em #3d3d3d;box-shadow:0em 0em 1em 0em #3d3d3d;}
.messagecard .name{border:none;}

.email{margin-left:0.4em;font-family:"Rye";font-size:1em;}

.email textarea{width:26.4em;max-width:26.4em;height:31.5em;max-height:31.5em;padding:0.3em 0.1em 0.3em 0.3em}
.email #entry_1889136421{width:17em;padding:0.1em 0.1em 0.3em 0.3em;margin-bottom:0.8em;}
.email #entry_1889136421,#entry_1465833048{font-family:"Arbutus";font-size:0.8em;border-radius:0.3em;box-shadow:0.05em 0.05em 0.5em 0.01em rgba(0,0,0,0.3) inset;
	margin-top:0.2em;background:rgba(255, 255, 255, 0.66);border:0.1em solid gray;}
#ss-form{margin-top:0.8em;}
#ss-form label{margin-left:0.1em;}
#entry_1889136421:invalid{color:#ECE6E6;background-color:#CE310A;}
.jfk-button{width:auto;padding:0.2em 0.4em 0.2em 0.4em;background:#4B8EFA;border:0.1em solid #3079ED;border-radius:0.3em;
	font-size:0.9em;color:#FAFAFA;cursor:pointer;-webkit-appearance:none;font-family:'Rye';margin-top:0.5em;}
.jfk-button:hover{background:#3079ED}

@media (min-device-width:1900px){
.card{width:30em;height:47.7em;margin-top:12vh;}
.tophalf{height:22.3em;}
#mypic{left:9em;top:16.2em;width:11.8em;height:11.8em;}
.bottomhalf{margin:2.5% 3%;height:23.8em;}
.name{font-size:2em;}
.message{font-size:0.95em;}
.messagecard{width:30em;height:47.7em;margin-top:12vh;}
.messagecard .name{width:100%;}
.email{font-size:1.36em;}}

@media (max-device-width:400px){
.card{margin-top:6vh;margin-bottom:1.5em;}
.messagecard{margin-top:6vh;margin-bottom:1.5em;}
.logo{max-height:80px;}
.intro{max-height:80px;}
.intro{left:5%;width:90%;}
.intro #circle{left:44%;width:12%;}}
